<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <title>What's Happening Where I'm Going?</title>
  <meta name="keywords" content="Foreign news, Trending Topics, Travel Weather">
  <meta name="description" content="Find the current trending topics where you're traveling - know what's happening.">
  <link rel="stylesheet" href="../app/temp/styles/styles.css">

  <script>
    window.onload = async function () {
      mem = document.getElementById("memory").innerHTML
      if (mem != '') {
        alert(mem)
        window.location.replace('..')
      }

      //For random country selector
      let scenic_locations = [
        { 'name': 'Brussels', 'src': "../app/assets/images/brussels-belgium-cropped.jpg", 'href': './countries/BEL', 'alt': "Scenic Brussels" },
        { 'name': 'Lisbon', 'src': "../app/assets/images/lisbon-portugal-cropped.jpg", 'href': './countries/PRT', 'alt': "Scenic Lisbon" },
        { 'name': 'Milan', 'src': "../app/assets/images/milan-italy-cropped.jpg", 'href': './countries/ITA', 'alt': "Scenic Milan" },
        { 'name': 'Paris', 'src': "../app/assets/images/paris-france-cropped.jpg", 'href': './countries/FRA', 'alt': "Scenic Paris" },
        { 'name': 'Arctic Coast', 'src': "../app/assets/images/arctic-coast-way-iceland.jpg", 'href': './countries/ISL', 'alt': "Scenic Iceland" },
        { 'name': 'Hercegovina', 'src': "../app/assets/images/hercegovina.jpg", 'href': './countries/BIH', 'alt': "Scenic Hercegovina" },
        { 'name': 'Istria', 'src': "../app/assets/images/istria-croatria.jpg", 'href': './countries/HRV', 'alt': "Scenic Croatia" },
        { 'name': 'Liechtenstein', 'src': "../app/assets/images/liechtenstein.jpg", 'href': './countries/LIE', 'alt': "Scenic Liechtenstein" },
        { 'name': 'Madrid', 'src': "../app/assets/images/madrid-spain.jpg", 'href': './countries/ESP', 'alt': "Scenic Spain" },
        { 'name': 'Shetland', 'src': "../app/assets/images/shetland-scotland.jpg", 'href': './countries/GBR', 'alt': "Scenic Shetland, like the pony" },
        { 'name': 'Vevey', 'src': "../app/assets/images/vevey-switzerland.jpg", 'href': './countries/CHE', 'alt': "Scenic Switzerland" },
        { 'name': 'Berlin', 'src': "../app/assets/images/berlin-germany-cropped.jpg", 'href': './countries/DEU', 'alt': "Scenic Berlin" }
      ];

      //picks 4 random pictures from scenic_locations array 
      let selected = [-1, -1, -1, -1]
      for (let i = 0; i < 4; ++i) {
        let rand_int = -1;
        while (selected.includes(rand_int)) {
          rand_int = Math.floor(Math.random() * scenic_locations.length);
        }
        selected[i] = rand_int;
      }
      let imgs = document.querySelectorAll("#scenic");
      let links = document.querySelectorAll("#scenic_link");
      for (let i = 0; i < links.length; ++i) {
        imgs[i].src = scenic_locations[selected[i]].src;
        links[i].href = scenic_locations[selected[i]].href;
        imgs[i].alt = scenic_locations[selected[i]].alt;
      }

      //countries drop down selector
      const region_url = 'https://restcountries.eu/rest/v2/region/'
      let select = document.getElementById("country")
      let regions = ['Europe', 'Americas', 'Asia', 'Africa', 'Oceania']
      for (let i = 0; i < 5; ++i) {
        let optionGroup = document.createElement('optgroup');
        optionGroup.label = regions[i];
        optionGroup.text = regions[i];
        let data_url = region_url + regions[i];
        let response = await fetch(data_url);
        let data = await response.json();
        data.forEach(element => {
          let option = document.createElement('option');
          parens_location = element.name.indexOf('(');
          if (parens_location > 0) {
            let old_name = element.name
            if (element.name.substring(0, 2) != 'Ko' && element.name.substring(0, 2) != 'Vi') {
              element.name = element.name.slice(0, parens_location - 1);
            }
          }
          option.text = element.name;
          option.value = './countries/' + element.alpha3Code;
          optionGroup.appendChild(option, 0);
        });
        select.appendChild(optionGroup);

        //To populate "Conact Us" fields with examples
        let star_wars_people = [
          { "name": 'Wedge Antilles', "email": 'rogueleader@alliance.net' },
          { "name": 'Kylo Ren', "email": 'No1VaderFan@hotmail.com' },
          { "name": 'Chewbacca', "email": 'Rrrrrrhhhh@kashyyyk.org' },
          { "name": 'Baby Yoda', "email": 'SimplyTheBest@mando.gov' },
          { "name": 'Ahsoka Tano', "email": 'fulcrum@alliance.net' },
          { "name": 'Wilhuff Tarkin', "email": 'imadethis@empire.net' },
          { "name": 'John Smirth', "email": "JSmirth@email.biz" }
        ];

        //choose random example from above array
        let chosen_one = Math.floor(Math.random() * star_wars_people.length * 2);
        if (chosen_one < star_wars_people.length) {
          document.getElementById("person_name").placeholder = star_wars_people[chosen_one].name;
          document.getElementById("person_email").placeholder = star_wars_people[chosen_one].email;
        }
        else {
          document.getElementById("person_name").placeholder = "John Smith";
          document.getElementById("person_email").placeholder = "JSmith@email.com";
        }
      }
    }</script>
</head>

<body>
  <header class="navbar">
    <div id="memory" style="display: none;">{{mem}}</div>
    <div class="wrapper">
      <div class="navbar__menu-icon">
        <div class="navbar__menu-icon__middle"></div>
      </div>
      <div class="navbar__menu">
        <div class="navbar__btn-container"><a href="#contact-us" class="btn open-modal">Contact Us</a></div>
        <nav class="links">
          <ul class="navbar__list">
            <li class="navbar__li"><a href="#traveling" id="traveling-link">Where to Visit?</a></li>
            <li class="navbar__li"><a href="#what-we-do" id="what-we-do-link">What We Do</a></li>
            <li class="navbar__li"><a href="#about-us" id="about-us-link">About Us</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="world-map">
    <picture>
      <source srcset="../app/assets/images/world-map--large.png 1920w, 
        ../app/assets/images/world-map--large-hi-dpi.png 3840w" media="(min-width: 1380px">
      <source srcset="../app/assets/images/world-map--medium.png 1380w, 
        ../app/assets/images/world-map--medium-hi-dpi.png 2760w" media="(min-width: 990px">
      <source srcset="../app/assets/images/world-map--small.png 992w,
        ../app/assets/images/world-map--small-hi-dpi.png 1984w" media="(min-width: 640px">
      <img srcset="../app/assets/images/world-map--smaller.png 640w, 
        ../app/assets/images/world-map--smaller-hi-dpi.png 1280w" alt="World Map" class="world-map__image">
    </picture>


    <div class="world-map__text-content">
      <div class="wrapper">
        <h1 class="world-map__title">Travel Abroad</h1>
        <h2 class="world-map__subtitle">What's currently happening where you're traveling?</h2>
        <p class="world-map__description">We're here to help you figure out what's happening.</p>


        <select class="dropdownOptions" name="country" id="country">
          <option></option>
        </select>
      </div>
    </div>
  </div>

  <div id="traveling" class="page-section" data-link="#traveling-link">

    <div class="wrapper">
      <h2 class="headline headline--center headline--bot-margin-sm">Traveling is full of challenges...</h2>
      <h3 class="headline headline-- headline--brown headline--small headline--narrow headline--bot-margin-lg">But
        there's already sites for that. We're here to help you stay up to date with what's happening where you're
        traveling.</h3>
    </div>
    <div class="text-center">
      <div class="trending container">
        <a href="/" id="scenic_link"><img class="world-map__country-links" src="../app/assets/images/placeholder.jpg  "
            alt="Loading random locations" id="scenic"></a>
        <a href="/" id="scenic_link"><img class="world-map__country-links" src="../app/assets/images/placeholder.jpg  "
            alt="Loading random locations" id="scenic"></a>
        <a href="/" id="scenic_link"><img class="world-map__country-links" src="../app/assets/images/placeholder.jpg  "
            alt="Loading random locations" id="scenic"></a>
        <a href="/" id="scenic_link"><img class="world-map__country-links" src="../app/assets/images/placeholder.jpg  "
            alt="Loading random locations" id="scenic"></a>

      </div>
    </div>
    <div class="wrapper text-scroll-reveal">
      <h2 class="headline">Not sure where to travel?</h2>
      <p>Any of the above photos look interesting to you? If not, just refresh! Check out some random place and see if
        it appeals to you.</p>
      <p>Make sure traveling there is safe - check out the upcoming weather. See what's going on in the news that might
        be interesting!</p>
      <p>We're trying to open your mind about new places to visit. Places you may have never heard of - anyone know
        where Tokelau is? Search above and find out!</p>
    </div>
  </div>
  </div>

  <div id="what-we-do" class="page-section page-section--blue" data-link="#what-we-do-link">
    <div class="wrapper">
      <h2 class="section-title">
        <img src="../app/assets/images/icons/airplane.svg" class="svg section-title__icon"> What We Do
      </h2>
      <div class="row row--gutters-large generic-content-container">
        <div class="row__medium-6">

          <div class="what-we-do-item">
            <img class="section-title__icon svg" src="../app/assets/images/icons/suitcase.svg" class="svg">
            <h3 class="what-we-do-item__title">Travel Information</h3>
            <p>You probably already know a lot of this, but here we'll let you know what currency you'll need, the
              languages spoken, and whether there are any travel advisories.</p>
          </div>

          <div class="what-we-do-item">
            <img class="section-title__icon svg" src="../app/assets/images/icons/trending.svg" class="svg">
            <h3 class="what-we-do-item__title">What's Trending</h3>
            <p>What kind's of videos and topics are currently trending where you're going?? Don't be in the dark about
              it!</p>
          </div>
        </div>

        <div class="row__medium-6">
          <div class="what-we-do-item">
            <img class="section-title__icon svg" src="../app/assets/images/icons/cloud.svg" class="svg">
            <h3 class="what-we-do-item__title">Weather</h3>
            <p>This probably seems pretty obvious, but how's the weather?? We'll give you a quick overview of the
              forecast for the week so you'll know how to come prepared.</p>
          </div>

          <div class="what-we-do-item">
            <img class="section-title__icon svg" src="../app/assets/images/icons/text-lines.svg">
            <h3 class="what-we-do-item__title">Current News</h3>
            <p>It might be worth knowing what people are talking about where you're visiting. We'll provide you with
              some of the top headlines currently.</p>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div id="about-us" class="page-section page-section--about-us page-section--no-b-padding-lg"
    data-link="#about-us-link">
    <div class="wrapper wrapper--no-padding-until-lg">
      <h2 class="section-title section-title--blue">
        <img class="section-title__icon svg" src="../app/assets/images/icons/multiple-users-silhouette.svg"> About Us
      </h2>

      <div class="row row--gutters row--t-padding row--gutters-small row--equal-height-at-lg generic-content-container">
        <div class="row__large-3">
          <div class="about-us">
            <div class="about-us__picture">
              <img src="../app/assets/images/adam-profile.JPG">
            </div>
            <h3 class="about-us__title">Adam</h3>
            <h3 class="about-us__subtitle">Senior at Umass Amherst</h3>
            <p>Hey! A little about me - I'm a computer science major here at Umass Amherst. I enjoy enjoy front-end
              development and creating an enjoyable user experience. I'm hoping you like the design of the website, and
              ultimately find it useful. Outside of programming I love traveling and meeting new people! I'll be
              graduating in the Spring of 2020, and I'm currently seeking a full-time position.
            </p>
            </p>
          </div>
        </div>

        <div class="row__large-3">
          <div class="about-us">
            <div class="about-us__picture">
              <img src="../app/assets/images/elise_profile.jpg">
            </div>
            <h3 class="about-us__title">Elise</h3>
            <h3 class="about-us__subtitle">Senior at Umass Amherst</h3>
            <p>I'm a last semester student at Umass Amherst majoring in Computer Science with a minor in Psychology. I
              enjoy the kind of puzzles proramming
              presents and I really like when there's an opportunity to do some clever to gain efficiency or more
              options. Outside of computer science I
              enjoy spending time out in nature and playing tabletop games with friends.
            </p>
          </div>
        </div>

        <div class="row__large-3">
          <div class="about-us">
            <div class="about-us__picture">
              <img src="../app/assets/images/joe-profile.jpg">
            </div>
            <h3 class="about-us__title">Joe</h3>
            <h3 class="about-us__subtitle">Senior at UMass Amherst</h3>
            <p>Hi my name is Joe Maguire and I'm a Economics major and Computer Science minor at UMass Amherst.
              I enjoy playing hockey and soccer, as well as watching the Bruins and Red Sox.
              I’ve enjoyed this class as it has allowed me to apply what I have learned about computer science
              in a real world situation. I also love to travel, so this has been an interesting project,
              and I hope you enjoy the website!
            </p>
          </div>
        </div>

        <div class="row__large-3">
          <div class="about-us about-us--last">
            <div class="about-us__picture">
              <img src="../app/assets/images/ben-profile.JPG">
            </div>
            <h3 class="about-us__title">Ben</h3>
            <h3 class="about-us__subtitle">Senior at UMass Amherst</h3>
            <p>Hello! My name is Ben Brennan and I'm a Computer Science major at UMass Amherst. I love web development,
              so
              this class has been really fun for me. I've had a passion for art for as long as I can remember, this is
              why
              I belive I've enjoyed web deveopment so much. It combines two of my favorite things, programming and art.
              Outside
              of Comp Sci I love to draw, workout and play guitar. I hope you find this website useful!
            </p>
          </div>
        </div>

      </div>

    </div>
  </div>

  <footer class="footer">
    <div class="wrapper">
      <p><span class="footer__text">&copy; Copyright Adam Tiago, Ben Brennan, Elise Symmes & Joe Maguire</span>
      </p>
    </div>
  </footer>
  <div class="modal">
    <h2 class="section-title white"><img src="../app/assets/images/icons/gmail.svg"
        class="svg section-title__icon email_icon"> Contact Us</h2>
    <p class="modal__description white">We'd love to hear from you on what you think about our website!</p>
    <div id="contact-us" class="contact-us" class="page-section">
      <form method="POST" action="send" id="email_form">
        <div id="center">
          <div id="name">
            <label>Name: </label><br>
            <input id="person_name" type="text" name="name" autocomplete="off" placeholder="">
          </div> <br>
          <div id="email">
            <label>Email: </label> <br>
            <input id="person_email" type="email" name="email" autocomplete="off" placeholder="">
          </div> <br>
          <div id="message">
            <label>Message: </label> <br><br>
            <textarea name="message" placeholder="How can we help?"></textarea>
          </div><br>
          <button type="submit" class="btn">Send E-mail</button>

        </div>
      </form>
    </div>
  </div>
  <div class="modal-close">X</div>
  <script src="../app/temp/scripts/App.js"></script>
</body>

</html>