.contact-us {
    background-color: #416870;
    margin: auto;
    padding: 20px 0;
}

.contact-us h2 {
    text-align: center;
    color: white;
  }
  .contact-us label {
    color: white;
  }
  .contact-us #center {
    width: 100%;
    text-align: center;
  }
  .contact-us #form {
    margin: 0 auto;
  }
  .contact-us input, textarea {
    width: 200px;
  }
  .contact-us textarea {
    width: 200px;
    height: 100px;
  }
  .contact-us button {
    border: none;
  }