.navbar {

    position: absolute;
    z-index: 2;
    width: 100%;
    transition: background-color .4s ease-out;
    padding: 10px 0;

    &--expanded {
        background-color: rgba(54, 85, 143, .55);
    }

    @mixin atMedium {
        background-color: rgba(54, 85, 143, 0.5);
    }

    &__btn-container {
        @mixin atMedium {
            float: right;
        }
    }

    &__menu {
        opacity: 0;
        transition: all .4s ease-out;
        transform: scale(1.2);
        z-index: -5;
        position: relative;
        padding-top: 30px;
        text-align: center;

        @mixin atMedium {
            opacity: 1;
            z-index: 1; 
            padding-top: 0;
            transform: scale(1);
        }

        &--is-visible {
            opacity: 1;
            z-index: 1;
            transform: scale(1);
        }


    }

    &__menu-icon {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 3px;
            transform-origin: 0 0;
            background-color: #FFF;
            transition: transform .4s ease-out;
        }

        &__middle {
            position: absolute;
            top: 8px;
            left: 0;
            width: 20px;
            height: 3px;
            background-color: #FFF;
            transition: all .4s ease-out;
            transform-origin: 0 50%;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 20px;
            height: 3px;
            transform-origin: 0 100%;
            background-color: #FFF;
            transition: transform .4s ease-out;
        }

        @mixin atMedium {
            display: none;
        }
    }

    &__menu-icon--close {
        &::before {
            transform: rotate(45deg) scaleX(1.3);
        }
        .navbar__menu-icon__middle {
            opacity: 0;
            transform: scaleX(0)
        }
        &::after {
            transform: rotate(-45deg) scaleX(1.3) translateY(1px);
        }
    }
}
.links {
    padding-top: 10px;
    @mixin atMedium {
        float: right;
        padding-top: 0;
    }

    ul {
        margin: 0;
        padding: 0;
        @mixin clearfix;
    }

    li {
        list-style: none;
        padding-right: 8px;
        display: inline-block;

        @mixin atMedium {
            float: left;
            display: block;
            padding-right: 20px;
        }
    }

    li:last-child {
        padding-right: 0;
        @mixin atMedium {
            padding-right: 20px;
        }
    }

    a {
        color: #FFF;
        text-decoration: none;
        font-weight: 300;
        display: block;
        padding: 5px 8px;
        font-size: .75rem;
        background-color: rgba(54, 85, 143, .5);

        @mixin atMedium {
            padding: 10px 0;
            font-size: 1rem;
            background-color: transparent;
        }
    }

}

/*
    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: $defaultBlue;
    }
    &__li {
        float: left;
    }
    &__li{
        display: inline;
        color: white;
        text-decoration: none;
        padding: 14px 16px;
        background-color: $defaultBlue;
        width: 16.667%;
    }
    &__li a{
        color: white;
        text-decoration: none;
    }
    &__li a:hover {
        background-color: #111;
    }
    
}
*/