.navbar {

    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 10px 0;

    @mixin atMedium {
        background-color: rgba(54, 85, 143, 0.5);
    }

    &__btn-container {
        float: right;
    }

    &__menu {
        display: none;

        @mixin atMedium {
            display: block;
        }
    }

    &__menu-icon {
        width: 20px;
        height: 20px;
        background-color: #FFF;
        position: absolute;
        top: 10px;
        right: 10px;

        @mixin atMedium {
            display: none;
        }
    }
}
.links {
    float: right;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        float: left;
        padding-right: 20px;
    }

    a {
        color: #FFF;
        text-decoration: none;
        font-weight: 300;
        display: block;
        padding: 10px 0;
    }

}

/*
    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: $defaultBlue;
    }
    &__li {
        float: left;
    }
    &__li{
        display: inline;
        color: white;
        text-decoration: none;
        padding: 14px 16px;
        background-color: $defaultBlue;
        width: 16.667%;
    }
    &__li a{
        color: white;
        text-decoration: none;
    }
    &__li a:hover {
        background-color: #111;
    }
    
}
*/